*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/local.properties
.idea/caches/
app/.idea/workspace.xml
app/build/
app/local.properties
projectFilesBackup/
